@import "tailwindcss";

@theme inline {
  --font-DM: 'DM Sans', sans-serif;
  --font-RAJ:  'Rajdhani', sans-serif;
  --color-BrownP: #836249;
  --color-GreenP: #5DC4BD;
  --color-BrownS:#EAE8DC ;
  
}

p,a,h2{
  font-family: "DM Sans", sans-serif;
}
h1{
  font-family: "Rajdhani" ,sans-serif;
}

body,html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.maxW{
  max-width: 1520px;
  margin: 0 auto;
  padding: 0 2%;
}

.bgMain{
  background-image: url('/garoa-main.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.bgServices{
  background-image: url('/services-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}




